html {
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--base-color);
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

input {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--base-color);
}

@media (max-width: 950px) {
    h1 {
        font-size: 20px;
        font-weight: 600;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
    }
}